.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{ :href => root_path } First app in ROR
      %ul.nav
        %li.active
          %a{ :href => root_path } Home
        %li
          %a{ :href => '#' } Something else